
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
.idea/
*.iml
adc_core_api/target/
adc_manage/target/
adc_monitoring/target/
adc_provider_platform/target/
adc_ucenter/target/
agent_bizz_platform/target/
adc_utils/target/
adc_projects/target/
adc_service/target/


*.orig
adc_ucenter/dubbo_ucenter.cache
adc_ucenter/dubbo_ucenter.cache.lock

*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.war
*.class
server/target/
*/target/
target/
.idea/
*/.idea/