@charset "utf-8";
/* CSS Document */


.timeline-1 {
    width: 100%;
    height: 100em;
    float: left;
    background: #fff;
    padding-bottom: 70px;
    box-shadow: 0px 5px 6px #cbcbcb;
    position: relative;
}
.timeline-date1{
    height: 80em;
}
.timeline-date2 {
    height: 50em;
}
.timeline-media {
    height: 100em;
}


.timeline-background {
    height: 25em;
}
