@charset "utf-8";
/* CSS Document */


.timeline-1 {
    width: 100%;
    height: 100em;
    float: left;
    background: #fff;
    padding-bottom: 70px;
    box-shadow: 0px 5px 6px #cbcbcb;
    position: relative;
}
.timeline-date1{
    height: 80em;
}
.timeline-date2 {
    height: 50em;
}
.timeline-media {
    height: 100em;
}

.timeline-background {
    height: 25em;
}


.eras-input-wrap{
    width:100%;
    height:100%;
    border-top: 2px solid #e6e6e6;
    border-left: 2px solid #e6e6e6;
    border-right: 2px solid #e6e6e6;
}
.eras-input-wrap th,td{
    font-weight: 400;
    text-align: left;
}

#hor-zebra{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: auto;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #eeeeee;
}
#hor-zebra th {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    color: #039;
    letter-spacing: .1em;
    line-height: 2.6em;
    text-transform: uppercase;
}
#hor-zebra td {
    border-top: 1px solid #ddd;

    color: #669;
}
.eras-input-wrap tbody tr:nth-child(odd){
    background: #e8edff;
}
.eras-input-wrap td input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 8px;
    box-sizing: border-box;
    background: transparent;
}

.eras-input-wrap .btn {
    width: 100px;
    height: 50px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 20px;
}
